.Cantac{
    width: 100%;
    height: 100vh;
}

.Contact_text{
    display: flex;
    width: 100%;
    height: 40%;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1.8s ease-out forwards;
}

.Con_img{
    display: flex;
    width: 40%;
    height: 100%;

}


.Con_img>img{
    border-radius: 10px;
}

.Con_text{
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 60%;
    height: 100%;
}

.Con_text>h5{
    color: rgb(185, 144, 41);
    font-size: 25px;
    margin-left: 110px;
}

.icons{
    width: 80%;
    height: 90%;
    margin-left: 100px;
    font-size: 25px;
    color: rgb(185, 144, 41);
}






/* Input container */
.input-container {
    
    position: relative;
    margin: 20px;
  }
  
  /* Input field */
  .input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
  }
  
  /* Input label */
  .input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  /* Input highlight */
  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;
  }
  
  /* Input field:focus styles */
  .input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: #007bff;
  }
  
  .input-field:focus + .input-label + .input-highlight {
    width: 100%;
  }
  


  .Btn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 250px;
  }
  
  .Btn::before {
    position: absolute;
    content: "Kirish";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .Btn:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:active {
    transform: scale(0.95);
  }






.Cont_text{
  display: flex;
    width: 100%;
    height: 40%;
    margin-top: 100px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1.8s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.Animaton_text{
    display: flex;
    justify-content:center ;
    align-items: center;
    width:40%;
    height: 100%;

}


.Cant_text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 50px;
  height: 100%;

}

  .cardss {
    position: relative;
    width: 400px;
    height: 350px;
    background: lightgrey;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 1s ease-in-out;

  }
  
  .backgroundss {
    position: absolute;
    inset: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }
  
  .logoss {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    transition: all 0.6s ease-in-out;
    font-size: 1.3em;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 3px;
  }
  
  .logoss .logoss-svg {
    fill: white;
    width: 30px;
    height: 30px;
  }
  
  .iconss {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
  .iconss .svg {
    fill: rgba(255, 255, 255, 0.797);
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  
  .boxss {
    position: absolute;
    padding: 10px;
    text-align: right;
    background: rgba(255, 255, 255, 0.389);
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 1px solid white;
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
  }
  
  .boxss::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .boxss:hover .svg {
    fill: white;
  }
  
  .box11 {
    width: 70%;
    height: 70%;
    bottom: -70%;
    left: -70%;
  }
  
  .box11::before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff53d4 60%, #62c2fe 90%);
  }
  
  .box11:hover::before {
    opacity: 1;
  }
  
  .box11:hover .iconss .svg {
    filter: drop-shadow(0 0 5px white);
  }
  
  .box22 {
    width: 50%;
    height: 50%;
    bottom: -50%;
    left: -50%;
    transition-delay: 0.2s;
  }
  
  .box22::before {
    background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
  }
  
  .box22:hover::before {
    opacity: 1;
  }
  
  .box22:hover .iconss .svg {
    filter: drop-shadow(0 0 5px white);
  }
  
  .box33 {
    width: 30%;
    height: 30%;
    bottom: -30%;
    left: -30%;
    transition-delay: 0.4s;
  }
  
  .box33::before {
    background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
  }
  
  .box33:hover::before {
    opacity: 1;
  }
  
  .box33:hover .iconss .svg {
    filter: drop-shadow(0 0 5px white);
  }
  
  .box44 {
    width: 10%;
    height: 10%;
    bottom: -10%;
    left: -10%;
    transition-delay: 0.6s;
  }
  
  .cardss:hover {
    transform: scale(1.1);
  }
  
  .cardss:hover .boxss {
    bottom: -1px;
    left: -1px;
  }
  
  .cardss:hover .logoss {
    transform: translate(70px, -52px);
    letter-spacing: 0px;
  }







  .item-hints {
    --purple: #720c8f;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    /* padding-right: 500px; */
  }

  .item-hints .hint {
    margin: 150px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-hints .hint-dot {
    z-index: 3;
    border: 1px solid orange;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-transform: translate(-0%, -0%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    box-shadow: 0 0 20px orange;
    transition: box-shadow 0.3s ease-in-out;
  }

  .item-hints .hint-dot:hover{
    box-shadow: 0 0 40px orange;
  }
  .item-hints .hint-radius {
    background-color:orange;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .item-hints .hint[data-position="1"] .hint-content {
    top: 85px;
    left: 50%;
    margin-left: 56px;
  }
  .item-hints .hint-content {
    width: 300px;
    position: absolute;
    z-index: 5;
    padding: 35px 0;
    opacity: 0;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    color: orange;
    visibility: hidden;
    pointer-events: none;
  }
  .item-hints .hint:hover .hint-content {
    position: absolute;
    z-index: 5;
    padding: 35px 0;
    opacity: 1;
    -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    color: orange;
    visibility: visible;
    pointer-events: none;
  }
  .item-hints .hint-content::before {
    width: 0px;
    bottom: 29px;
    left: 0;
    content: "";
    background-color: orange;
    height: 1px;
    position: absolute;
    transition: width 0.4s;
  }
  .item-hints .hint:hover .hint-content::before {
    width: 180px;
    transition: width 0.4s;
  }
  .item-hints .hint-content::after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    bottom: 29px;
    left: 0;
    width: 80px;
    content: "";
    background-color:orange;
    height: 1px;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .item-hints .hint:hover .hint-content::after {
    opacity: 1;
    visibility: visible;
  }
  .item-hints .hint[data-position="4"] .hint-content {
    bottom: 85px;
    left: 50%;
    margin-left: 56px;
  }
  










  .item-hintss {
    --purple: #720c8f;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
  }
  .item-hintss .hints {
    margin: 150px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-hintss .hint-dotss {
    z-index: 3;
    border: 1px solid orange;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-transform: translate(-0%, -0%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    box-shadow: 0 0 20px orange;
    transition: box-shadow 0.3s ease-in-out;
  }

  .item-hintss .hint-dotss:hover{
    box-shadow: 0 0 40px orange;

  }

  .item-hintss .hint-radiuss {
    background-color:orange;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .item-hintss .hints[data-position="1"] .hint-contents {
    top: 85px;
    left: 50%;
    margin-left: 56px;
  }
  .item-hintss .hint-contents {
    width: 300px;
    position: absolute;
    z-index: 5;
    padding: 35px 0;
    opacity: 0;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    color: orange;
    visibility: hidden;
    pointer-events: none;
  }
  .item-hintss .hints:hover .hint-contents {
    position: absolute;
    z-index: 5;
    padding: 35px 0;
    opacity: 1;
    -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    color: orange;
    visibility: visible;
    pointer-events: none;
  }
  .item-hintss .hint-contents::before {
    width: 0px;
    bottom: 29px;
    left: 0;
    content: "";
    background-color: orange;
    height: 1px;
    position: absolute;
    transition: width 0.4s;
  }
  .item-hintss .hints:hover .hint-contents::before {
    width: 180px;
    transition: width 0.4s;
  }
  .item-hintss .hint-contents::after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    bottom: 29px;
    left: 0;
    width: 80px;
    content: "";
    background-color:orange;
    height: 1px;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .item-hintss .hints:hover .hint-contents::after {
    opacity: 1;
    visibility: visible;
  }
  .item-hintss .hints[data-position="4"] .hint-contents {
    bottom: 85px;
    left: 50%;
    margin-left: 56px;
  }





















@media screen and (max-width:850px) {
  .Cantac{
    height: 120vh;
  }
    .Contact_text{
        flex-direction: column;
    }
    .Con_img{
        width: 100%;
    }

    .Con_text{
        width: 100% ;
    }

    .icons{
        margin-left: 0;
    }
    .Btn{
        margin-left: 20px;
    }
    .Cont_text{
        margin-top: 80px;
        flex-direction: column;
    }
    .Animaton_text{
        width: 100%;
    }
    .Cont_text{
      margin-top: 100px;
    }

    .Cant_text{
      display: none;
      flex-wrap: wrap;
      gap: -50px;
      width: 100%;
      border: 1px solid;

    }
}
